$green-bright: #0ADA38;
$blue: #1F3FFF;
$red: #FF354A;

$orange-700: #EB6C24;
$orange-500: #FFAC39;
$orange-50: #FFEED7;
$orange-40: #F1ECDF;
$orange-30: #F9F4E9;
$orange-20: #F2ECDE;

$gray-800: #1D2023;
$gray-500: #77797B;
$gray-400: #A5A6A7;
$gray-300: #C4C4C4;
$gray-200: #D2D2D3;

$black: rgba(0,0,0,1);
$black-40: rgba(0,0,0,.4);
$black-10: rgba(0,0,0,.1);

$white: rgba(255,255,255,1);
$white-80: rgba(255,255,255,.8);
$white-60: rgba(255,255,255,.6);
$white-50: rgba(255,255,255,.5);
$white-20: rgba(255,255,255,.2);
$white-10: rgba(255,255,255,.1);
