@import "typography";
@import "mixins";

$main-transition: .15s ease-out;
$main-transition-exit: .15s ease-in;

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  appearance: none;

  ::selection {
    background: $orange-50;
  }
}

img {
  user-select: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: $orange-30;
  overflow-x: hidden;
}

// Main page
.header, .main-wrapper, .footer-wrapper {
  width: 100%;
  max-width: calc(128rem + 4.8rem);
  padding: 0 2.4rem;
  margin: 0 auto;
  transition: $main-transition;
}

.header-wrapper {
  width: 100%;
  min-height: 17.6rem;
  max-height: 23.3rem;
  padding-top: 3.2rem;
  padding-bottom: 4rem;
  background: $orange-30;
  border-bottom: 1px solid $black-10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: max-height $main-transition;
  z-index: 5;

  .header {
    @include flex;

    * {
      transition: $main-transition;
      will-change: transform, opacity;
    }

    .logo {
      width: 8.8rem;
      height: 8.8rem;
      border-radius: 2.8rem;
      box-shadow: 0 .4rem 2.7rem 0 rgba(0, 0, 0, 0.05);
      background: $white;

      img {
        width: 6.8rem;
        height: 6.8rem;
        @include absoluteCenter;
      }
    }

    .info {
      @include flexColumn;
      margin-left: 3rem;

      .name {
        display: flex;
        z-index: 2;

        h1 {
          margin-right: .8rem;
        }
        // include .select
      }

      .meta {
        @include flexCenter;
        margin-top: .8rem;
        margin-bottom: .8rem;

        .cost-check {
          margin-right: .4rem;

          &[data-cost='1'] {
            .c1 {
              font-weight: 700;
            }
          }
          &[data-cost='2'] {
            .c1, .c2 {
              font-weight: 700;
            }
          }
          &[data-cost='3'] {
            .c1, .c2, .c3 {
              font-weight: 700;
            }
          }
          span {
            color: $black-40;
          }
        }

        .option {
          line-height: 1.6rem;
          font-weight: 700;
          letter-spacing: .02rem;
          color: $black-40;
        }
      }

      .tags-list {
        display: flex;
        margin-top: 2.4rem;
        // include .tag
      }
    }
  }

  &.header-min {
    min-height: 8.2rem;
    max-height: 8.2rem;
    padding-top: 1.6rem;
    padding-bottom: 2rem;

    & ~ .main-wrapper .left-column, & ~ .main-wrapper .right-column, {
      transform: translateY(calc(8.2rem + .4rem));
      transition: $main-transition-exit;
    }

    .header {
      * {
        transition: $main-transition-exit;
      }

      .logo {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 1.6rem;

        img {
          width: 3.4rem;
          height: 3.4rem;
        }
      }
      .info {
        transform: translateX(-.6rem);
        height: 4.8rem;

        .name {
          transform: translateY(3%);
          transition-duration: .1s;

          h1, h2 {
            font-size: 3.2rem;
            line-height: 4.6rem;
          }
        }
        .meta, .description, .tags-list {
          opacity: 0;
          pointer-events: none;
          transform-origin: left;
          transition-duration: .1s;
        }
        .meta {
          transform: scale(0.5) translate(-22%, -100%);
        }
        .description {
          transform: scale(0.5) translate(-25%, -200%);
        }
        .tags-list {
          transform: scale(0.3) translate(-40%, -350%);
        }
      }
    }
  }
}

.main-wrapper {
  @include flex;
  justify-content: space-between;
  padding-top: 4rem;
  //margin-bottom: 10rem;

  & > .column {
    @include flexColumn;
    width: 100%;
    will-change: transform;

    &.left-column {
      position: sticky;
      top: 4rem;
      left: 2.4rem;
      max-width: 19.4rem;
      margin-right: 2.4rem;
      transform: translateY(23.3rem);
      transition: $main-transition;
    }
    &.center-column {
      margin: 0 auto;
      max-width: 65.5rem;
      transform: translateY(23.3rem);
      transition: $main-transition;

      &:first-child { // Can run warning on SSR, need check
        max-width: 84rem;
        margin: 0 auto 0 0;
      }
    }
    &.right-column {
      position: sticky;
      top: 4rem;
      right: 2.4rem;
      max-width: 30.3rem;
      margin-left: 2.4rem;
      transform: translateY(23.3rem);
      transition: $main-transition;
    }

    & > * {
      width: 100%;
    }
  }

  .menu-block {
    margin-bottom: 4rem;
    // include .menu-radio
  }

  .menu-group.hidden {
    display: none;
  }

  .category-section {
    width: 100%;
    margin-bottom: 5.4rem;

    h3 {
      margin-bottom: 1.6rem;
    }

    .general-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5.2rem 2rem;
    }

    .other-suggestions-list {
      width: 100%;
      padding-top: 1.2rem;

      li {
        @include flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.8rem;

        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;

        b {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;

        }
      }
    }
    // include .cards-slider
  }

  .categories-block {
    .category-list {
      @include flexColumn;
      margin-top: 1.6rem;

      a {
        display: block;
        font-family: 'Poppins', sans-serif;
        padding: .9rem 0;
        color: $black-40;
        text-decoration: none;
      }
    }
  }

  .address-block {
    margin-bottom: 2.8rem;
    p {
      margin-top: .8rem;
    }
  }

  .visited-block {
    margin-bottom: 2.8rem;
    // include .visited-users
  }

  .powered-by-block {
    .mustard-logo {
      display: block;
      width: 14.2rem;
      height: 2.4rem;
      margin: .8rem 0 2.4rem;
    }
    .button {
      margin-bottom: .8rem;
    }
  }
}

.footer-wrapper {
  height: 34.4rem;
  margin-top: 20rem;
  transform: translateY(23.3rem);

  ::selection {
    background: $orange-30;
  }

  &:after {
    content: '';
    width: 100vw;
    padding-bottom: 25rem;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 50%);
    border-radius: 200vw/20vw;
    background: $orange-50;
  }

  &:before {
    content: '';
    width: 100vw;
    height: 100%;
    @include absoluteCenter;
    background: $orange-50;
  }

  .footer-content {
    @include flexColumn;
    width: max-content;
    height: 100%;
    z-index: 2;

    .app-store-link {
      margin-top: .7rem;
      width: 21.3rem;
      height: 7.1rem;
      display: block;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .copyrights {
      margin: auto 0 5.6rem;

      * {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      a {
        margin-left: 2.1rem;
        color: $orange-500;
        text-decoration: none;

        &:hover {
          color: $orange-700;
        }
      }
    }
  }

  .footer-img {
    position: absolute;
    left: 110%;
    bottom: 3.2rem;
    width:93.3rem;
    height: 65.7rem;
    pointer-events: none;
  }
}

// Video page
.video-page-wrapper {
  @include flex;
  width: 100%;

  .forward-link {
    @include flexCenter;
    position: absolute;
    left: 2.4rem;
    top: 2.4rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background: $white-10;
    z-index: 2;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .mute-button {
    @include flexCenter;
    position: absolute;
    right: 2.4rem;
    top: 2.4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: $white-10;
    z-index: 2;
    cursor: pointer;
    border: none;

    &.muted:after {
      content: '';
      @include absoluteCenter;
      width: 100%;
      height: 2px;
      background: $white;
      transform: translate(-50%, -50%) rotate(-45deg);
      transform-origin: center;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
      pointer-events: none;
    }
  }

  .video-slider-block {
    @include flexCenter;
    width: calc(100% - 54.3rem);
    min-height: 100vh;
    background: #1D2023;

    .video {
      height: 100vh;
      @include flexCenter;

      .meta {
        @include flex;
        position: absolute;
        left: 2rem;
        top: 2.8rem;
        width: 100%;
        z-index: 2;

        .avatar {
          @include flexCenter;
          width: 5.2rem;
          height: 5.2rem;
          border-radius: 50%;
          border: 2px solid fade-out(#FF7A00, .6);
          margin-right: 1.2rem;

          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
          }

          .subscribe {
            @include flexCenter;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 2rem;
            height: 2rem;
            font-size: 1.2rem;
            line-height: 2rem;
            color: $orange-30;
            background: $orange-700;
            border-radius: 50%;
            text-decoration: none;
          }
        }

        .name {
          color: $white;
          font-size: 1.4rem;
          line-height: 1.4rem;
          letter-spacing: .02rem;
          margin: .8rem 0 .4rem;
        }
        .views span {
          font-size: 1.2rem;
          line-height: 2rem;
          letter-spacing: .02rem;
          color: $white-60;

          &.uploaded {
            font-weight: 700;
            padding-right: .8rem;

            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              width: .4rem;
              height: .4rem;
              border-radius: 50%;
              background: $white-60;
            }
          }
        }
      }

      video, iframe {
        width: 100%;
        height: 100%;
        max-width: 53.9rem;
        max-height: 100vh;
      }
    }
  }

  .video-info-block {
    @include flexColumn;
    width: 54.3rem;
    background: $white;

    .head-block {
      @include flexCenter;
      justify-content: space-between;
      width: 100%;
      padding: 4rem 4rem 2.4rem;
    }

    .cards-block {
      @include flexColumn;
      width: 100%;
      padding: 0 4rem;
      margin-bottom: 2.4rem;

      & > .mentioned-card:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      // include .mentioned-card
    }

    .footer-block {
      @include flexCenter;
      justify-content: flex-end;
      width: 100%;
      padding: 1.6rem 4rem;
      border-top: 1px solid $gray-200;

      .share-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-right: 1.2rem;
      }

      .share {
        @include flexCenter;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        cursor: pointer;

        img {
          width: 2.4rem;
          height: 2.4rem;
        }

        &:not(:last-child) {
          margin-right: .8rem;
        }

        &.share-link {
          background: $orange-500;
        }
        &.share-message {
          background: $green-bright;
        }
      }
    }
  }
}

// Components
.select {
  background: $orange-30;
  cursor: pointer;

  &.open {
    .select-list {
      display: block;
    }
    .icon {
      transform: rotate(180deg) translateY(50%);
    }
  }

  & > h2 {
    pointer-events: none;
    width: 7.8rem;
    padding-right: 2.4rem;
  }

  .icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .select-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: $white;
    box-shadow: 0 .4rem 2.7rem 0 rgba(0, 0, 0, 0.05);
    border-radius: .8rem;
    overflow: hidden;

    h2 {
      width: 7.8rem;
      padding-right: 2.4rem;

      &:hover {
        background: $orange-50;
      }
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .8rem;
  border-radius: .8rem;
  background: $white;

  &:not(:last-child) {
    margin-right: .8rem;
  }

  &.closed {
    background: $red;

    span {
      color: $white;
    }
  }

  img {
    width: 2rem;
    height: 2rem;
    margin-right: .8rem;
  }

  span {
    font-size: 1.4rem;
    line-height: 1.4rem;
    white-space: nowrap;
  }
}

.menu-radio {
  @include flexColumn;
  width: 100%;

  label {
    @include flex;
    width: 100%;
    margin-top: 1.6rem;
    cursor: pointer;

    .custom-radio {
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 2px solid $gray-300;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .menu-info {
      p {
        color: $black-40;

        &.menu-time {
          font-size: 1.2rem;
          line-height: 1.2rem;
          margin-top: .4rem;
        }
      }
    }

    input {
      display: none;

      &:checked ~ .custom-radio {
        background: $white;
        border: 6px solid $orange-500;
      }
      &:checked ~ .menu-info .menu-type {
        color: $gray-800;
        font-weight: 700;
      }
    }
  }

}

.visited-users {
  @include flex;
  margin-top: .8rem;

  & > *:not(:first-child) {
    margin-left: -1rem;
  }

  .user {
    @include flexCenter;
    width: 4.4rem;
    height: 4.4rem;
    background: $orange-50;
    border: 2px solid $orange-30;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    span {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.6rem;
      letter-spacing: .02rem;
      color: $orange-500;
    }
  }
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  width: 100%;
  height: 4.8rem;
  background: $orange-500;
  border-radius: .8rem;
  border: none;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    background: $orange-700;
  }

  &.light {
    background: $orange-50;
    color: $orange-700;
  }

  &.small {
    padding: .4rem 2.4rem;
    width: max-content;
    font-size: 1.4rem;
    height: 3.2rem;
  }
}

.cards-slider {
  width: calc(100% + 1.6rem);
  transform: translateX(-1.6rem);

  @keyframes firstCard {
    from { transform: translateX(-100%); }
    to { transform: translateX(0%); }
  }
  @keyframes lastCard {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11.1rem;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background: $white-50;
    box-shadow: 0 .2rem .8rem 0 $black-10;
    color: $gray-500;
    cursor: pointer;
    z-index: 3;
    transition: .15s ease-in-out;

    &:hover {
      background: $white;
    }

    &.center {
      top: 50%;
      transform: translateY(-50%);
    }

    &.hidden {
      display: none;
    }

    &.right-button.hidden ~ .cards:after {
      display: none;
    }

    &.left-button {
      right: auto;
      left: 0;

      &.hidden ~ .cards:before {
        display: none;
      }

      img {
        transform: rotate(180deg);
      }
    }
  }

  .cards {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;

    &:before, &:after {
      //display: none !important;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 4rem;
      height: 100%;
      background: linear-gradient(270deg, #F9F4E9 0%, rgba(249, 244, 233, 0) 75%);
      pointer-events: none;
      z-index: 2;
    }
    &:before {
      right: auto;
      left: 0;
      background: linear-gradient(90deg, #F9F4E9 0%, rgba(249, 244, 233, 0) 75%);
    }
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    will-change: left;
  }
}

.food-card {
  width: 19.5rem;

  .img-wrapper {
    width: 19.5rem;
    height: 26.6rem;
    border-radius: .8rem;
    overflow: hidden;

    &.gradient:after {
      content: '';
      width: 100%;
      height: 100%;
      @include absoluteCenter;
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    }

    &:before {
      content: '';
      @include absoluteCenter;
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      border: 1px solid $gray-200;
      border-radius: .8rem;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      @include absoluteCenter;
    }
  }

  .user-wrapper {
    width: 100%;
    margin-top: .8rem;
    @include flex;
    align-items: center;

    .avatar {
      width: 4rem;
      height: 4rem;
      margin-right: .8rem;
      border: 1px solid fade-out($orange-700, .4);
      border-radius: 50%;
      overflow: hidden;

      &:after {
        content: '';
        @include absoluteCenter;
        width: 3.2rem;
        height: 3.2rem;
        border: 4px solid $orange-30;
        border-radius: 50%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .username {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 2.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 4.8rem);
    }
  }

  h4 {
    height: 4.4rem;
    margin: 2rem 0 .8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }

    @include textEclipsis(2);
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 100%;
    margin-bottom: .8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:not(.small) {
      height: 5.4rem;
      @include textEclipsis(3);
    }
  }

  .cost {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.mentioned-card {
  @include flex;
  width: 100%;

  .icon {
    @include flexCenter;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: $orange-30;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .info {
    width: 100%;
    max-width: 33.3rem;
    margin-left: 1.6rem;

    .name {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      line-height: 2.2rem;
      margin-bottom: .4rem;
    }
    .description {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $gray-500;
      @include textEclipsis(2);
    }
  }
  .cost {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $gray-500;
    text-align: right;
    width: 4.8rem;
    margin-left: auto;
  }
}


